<div class="container">
    <div class="header">
        <h1 class="title">Movies list</h1>
        <button class="btn" (click)="addMovie()">Add Movie</button>
    </div>
    <app-movies (removeMovie)="removeMovie($event)" [movies]="movies$ | async"></app-movies>
</div>