<div class="movies-container">
  <div class="movie-item" *ngFor="let movie of movies.data; let movieIndex = index">
    <div class="movie-name-wrap">
    <span class="remove" (click)="removeMovie.emit(movie.id)">&#10006;</span>
      <span class="movie-name">{{movie.title}}</span>
    </div>
    <star-rating [starType]="'svg'" [rating]="movie?.rating"></star-rating>
  </div>
</div>